* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #f4f4f4;
}

.top-header {
  background-color: #fff;
  width: 100%;
}

.header-container {
  max-width: 1200px;
  margin: auto;
  padding: 20px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Logo */
.logo{
  flex: 0.7;
}
.logo img {
  height: 60px;
}


/* Navigation */
.main-nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
}

.main-nav a {
  text-decoration: none;
  color: #555;
  font-size: 14px;
  letter-spacing: 0.5px;
  padding-bottom: 10px;
  position: relative;
}

.main-nav a:hover,
.main-nav a.active {
  color: #000;
}

.main-nav a.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 3px;
  background-color: #f5b400;
}

.social .facebook-btn:hover {
  background-color: #e4e4e4;
}

/* Decorative lines */
.header-line {
  width: 100%;
  height: 4px;
}

.header-line.yellow {
  background-color: #09b32b;
}

.header-line.red {
  background-color: #ff0011;
}
